*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.6;
}
button{
    overflow: visible;
    color: inherit;
    font: inherit;
    margin: 0;
}
input{
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;



}
.form{
    margin: 60px 0;
    color: #111;
    border: solid 10px ;
    border-color:  #956fe5;
    text-align: center;
    box-sizing: border-box;
   padding: 30px;
   display: flex;
   font-size: 16px;
   
}
h2 {
    color: #111;
    font: 48px roboto;
    text-align: center;
    padding: 20px;

}
p{
    text-align: center;
    padding: 20px;

}
form{
    padding: 20px
    ;
    margin: 20px;
}

